// 对系统元素的样式进行重置
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
td,
th,
ins {
  padding: 0;
  margin: 0;
}

a {
  color: #333;
  // 取下下划线样式
  text-decoration: none;
  // a 元素默认不能修改宽高
  display: block;
}

input, textarea, button, select, a {
  outline: none;
  border: none;
}